<div class="container">
  <div class="nav">
    <h1>Blogr</h1>
    <button class="buttonHeader" id="buttonHeader" (click)="clickMenu()"></button>

  </div>
  <nav class="navbar" id="navbar">
    <h3 class="nome1" id="produto" (click)="clickSubMenuP()">Produto<button class="imgProduto" id="imgProduto"></button></h3>
      <ul class="lista1" id="lista1">
          <li class="lista">Visão geral</li>
          <li>Preços</li>
          <li>Mercado</li>
          <li>Recursos</li>
          <li>Integrações</li>
      </ul>
    <h3 class="nome2" id="companhia" (click)="clickSubMenuCa()" >Companhia<button class="imgCompanhia" id="imgCompanhia"></button></h3>
      <ul class="lista2" id="lista2">
          <li>Sobre</li>
          <li>Equipe</li>
          <li>Blog</li>
          <li>Carreiras</li>
      </ul>
    <h3 class="nome3" id="conectar" (click)="clickSubMenuCr()">Conectar <button class="imgConectar" id="imgConectar"></button></h3>
      <ul class="lista3" id="lista3">
          <li>Contato</li>
          <li>Notícias</li>
          <li>LinkedIn</li>
      </ul>
    <button class="login">Login</button>
    <button class="inscricao">Inscreva-se</button>
  </nav>

  <div class="conteudo">
    <h1 class="titulo">Uma plataforma de publicação moderna</h1><br>
    <h3>Aumente seu público e construa sua marca online</h3><br>
    <div class="acao">
      <button class="botao start">Comece de graça</button>
      <button class="botao">Saber mais</button>
    </div>

  </div>
</div>
