.container{
  --bg-gradient2-color:linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  --bg-gradient-button-color:linear-gradient(90deg,hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  --text-principal-color: hsl(0, 0%, 100%);
  --text-secundario-color: hsl(240, 2%, 79%);
  --text-hover-color: hsl(355, 100%, 74%);
  --text-titulos-color:hsl(237, 17%, 21%);
  --text-texto-color: hsl(237, 23%, 32%);
}

.container{
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
  background-image: url(../../assets/img/bg-pattern-intro-mobile.svg), var(--bg-gradient2-color);
  background-repeat: no-repeat;
  background-size: 1200px 1200px, auto;
  background-position-x: 34%;
  background-position-y: 27%;
  border-bottom-left-radius: 70px;
  height: 600px;
  color: var(--text-principal-color);
  margin-bottom: 4rem;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem  1.5rem 1.5rem 1.5rem;
  position: relative;
}

.navbar{
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 8px;
  width: 310px;
  text-align: center;
  background-color: var(--text-principal-color);
  color:var(--text-titulos-color);
  line-height: 2;
  padding-bottom: 2rem;
  font-size: 1.5rem;
  display: none;
  transition: 0.8s;
}

.navbar-active{
  display: initial;
  transition: 0.8s;
}

li{
  color: var(--text-texto-color);
  background-color: rgb(225, 221, 221);
  border: none;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1.3rem;
}

.nome1,.nome2, .nome3{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  column-gap: 3px;
  color: var(--text-titulos-color);
}

.nome1:hover, .nome2:hover, .nome3:hover{
  transform: scale(1.1);
  transition: 0.3s;
}

.imgProduto, .imgCompanhia, .imgConectar{
  background-image: url(../../assets/img/icon-arrow-dark.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  width: 10px;
  height: 10px;
  border: none;
  border: none;
  transition: 0.5s;
}

.imgProduto-active, .imgCompanhia-active, .imgConectar-active{
  background-image: url(../../assets/img/chevron-up-regular-24.png);
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-color: transparent;
  background-size: contain;
  width: 20px;
  height: 20px;
  transition: 0.5s;
}

.lista1, .lista2, .lista3{
  display: none;
}

.lista1-active, .lista2-active, .lista3-active{
  display: initial;
}

.login, .inscricao{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  color: var(--text-titulos-color);
  background-color: transparent;
  border: none;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  margin-left: 5rem;
  margin-right: 5rem;
  font-size: 1.5rem;
  transition: 0.3s;
}

.login:hover, .inscricao:hover{
  background-image: var(--bg-gradient-button-color);
  color: var(--text-principal-color);
  border-radius: 50px;
  transition: 0.3s;
}
/*
.login:active{
  background-image: var(--bg-gradient-button-color);
  color: var(--text-principal-color);
  border-radius: 50px;
} */

.login{
  margin-top: 2rem;
  margin-bottom: 1rem;
}


h1 {
  font-size: 32px;
  font-weight: 600;
}

h3{
  color: var(--text-principal-color);
}

.buttonHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url(../../assets/img/icon-hamburger.svg);
  background-repeat: no-repeat;
  transition: 0.3s;
}

.buttonHeader-active{
  transition: 0.3s;
  background-image: url(../../assets/img/icon-close.svg);
}

.conteudo{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
  line-height: 1.5;
  padding-right: 2rem;
  padding-left: 2rem;
}

.titulo{
  font-weight: 400;
}

.acao{
  display: flex;
  gap: 2rem;
}

.botao{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  color: var(--text-principal-color);
  background-color: transparent;
  border: 1px solid var(--text-secundario-color);
  border-radius: 50px;
  padding: 0.8rem 1rem;
  margin-top:2rem;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}

.botao:hover{
  background-color: var(--text-principal-color);
  color:var(--text-hover-color);
  transition: 0.3s;
}

@media(min-width:768px){
  .container{
    height: 500px;
  }

  .navbar-active {
    left: 50%;
  }
}

@media(min-width:1024px){
  .container{
    height: 500px;
  }
  .nav{
    display:flex;
    flex-direction: row;
  }

  .buttonHeader{
    display:none;
  }

  .navbar{
    display: initial;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    column-gap: 1rem;
    margin-top: 2rem;
    margin-left: 10rem;
    margin-right: 0;
    background: transparent;
    color: var(--text-secundario-color);
    font-size: 1.1rem;
    padding-bottom: 0;
    width: 310px;
    cursor: pointer;
  }

  .nome1,.nome2, .nome3{
    color:var(--text-principal-color)
  }

  .login, .inscricao{
    color: var(--text-principal-color);
    padding: 0.8rem 0.5rem;
    margin-left: 0;
    margin-right: 0;
    font-size: 1.1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-weight: 400;
  }

  .login{
    margin-left: 15rem;
    margin-right: 1rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  .login:hover, .inscricao:hover{
    background-color: var(--text-principal-color);
    background-image: none;
    color:var(--text-hover-color);
    border-radius: 50px;
  }

  .imgProduto, .imgCompanhia, .imgConectar{
    background-image: url(../../assets/img/icon-arrow-light.svg);
    width: 10px;
    height: 5px;
    margin-left: 1px;
  }
}
  @media (min-width:1044px){
    .login{
      margin-left: 20rem;
  }
}
