<div class="footer">
    <h1 class="titulo">Blogr</h1>
    <ul class="lista1">
        <h3 class="nome">Produto</h3>
        <li>Visão geral</li>
        <li>Preços</li>
        <li>Mercado</li>
        <li>Recursos</li>
        <li>Integrações</li>
    </ul>
    <br>
    <ul class="lista2">
        <h3 class="nome">Companhia</h3>
        <li>Sobre</li>
        <li>Equipe</li>
        <li>Blog</li>
        <li>Carreiras</li>
    </ul>
    <br>
    <ul class="lista3">
        <h3 class="nome">Conectar</h3>
        <li>Contato</li>
        <li>Notícias</li>
        <li>LinkedIn</li>
    </ul>
</div>
