<!-- <link rel="stylesheet" href="./main.component.css"> -->
<div class="conteudo">
    <h1 class="titulo-principal">Projetado para o futuro</h1>
    <section class="parte1">
        <figure  class="modulo-1"></figure>
       
        <article class="modulo-1-texto">
            <h2 class="titulo">Apresentando um editor extensível</h2>
            <p class="texto">O Blogr apresenta uma interface extremamente intuitiva que permite que você se concentre em uma coisa: criar conteúdo.
                O editor oferece suporte ao gerenciamento de vários blogs e permite a fácil manipulação de incorporações, como imagens,
                vídeos e Markdown. A extensibilidade com plug-ins e temas fornece maneiras fáceis de adicionar funcionalidade ou
                mudar a aparência de um blog.</p>
            
            <h2 class="titulo">Gerenciamento de conteúdo robusto</h2>
            <p class="texto">O gerenciamento de conteúdo flexível permite que os usuários se movam facilmente pelas postagens. Aumente a usabilidade do seu blog
                adicionando categorias, seções, formato ou fluxo personalizados. Com esta funcionalidade, você está no controle total.</p>
        </article>
    </section>

    <section class="parte2">
        <figure  class="modulo-2">
            <!-- <img class="phones" src="../../assets/img/illustration-phones.svg" alt="Ilustração celular"> -->
        </figure>
        
        <article class="foco">
            <h1 class="titulo-foco">Infraestrutura de última geração</h1>
            <p class="texto-foco">Com confiabilidade e velocidade em mente, os datacenters mundiais fornecem a espinha dorsal para conectividade ultrarrápida.
                Isso garante que seu site carregue instantaneamente, não importa onde seus leitores estejam, mantendo seu site competitivo.</p>
        </article>
    </section>
    
    <section class="parte3">
        <figure class="modulo-3">
            <!-- <img class="laptop" src="../../assets/img/illustration-laptop-mobile.svg" alt="Ilustração Laptop"> -->
        </figure>
        <article class="modulo-3-texto">
            <h2 class="titulo">Gratuito, aberto, simples</h2>
            <p class="texto">O Blogr é um aplicativo gratuito e de código aberto apoiado por uma grande comunidade de desenvolvedores úteis. Ele suporta
                recursos como realce de sintaxe de código, feeds RSS, integração de mídia social, ferramentas de comentários de terceiros,
                e funciona perfeitamente com o Google Analytics. A arquitetura é limpa e é relativamente fácil de aprender.</p>
        
            <h2 class="titulo">Ferramentas poderosas</h2>
            <p class="texto">Pilhas incluídas. Criamos uma ferramenta CLI simples e direta que facilita a personalização e a implantação, mas
                capaz de produzir até os sites mais complicados.</p>
        </article>
    </section>
</div>
